/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
@layer components {
  .fade {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  * {
    /* border: coral solid 0.5px; */
  }
}
